{% extends "base.html" %}
{% block content %}

<h2>Pagos</h2>

{% if pagos %}
    {% for p in pagos %}
        <div style="background:#4a1f6b; color:white; padding:10px; margin-bottom:8px; border-radius:6px;">

            <div>
                <b>{{ p[0] }}</b> pagó fecha {{ p[1] }}
            </div>

            {% if p[3] %}
                <div style="font-size:12px;">📱 {{ p[3] }}</div>
            {% endif %}

            {% if p[4] %}
                <div style="font-size:12px;">✉️ {{ p[4] }}</div>
            {% endif %}

        </div>
    {% endfor %}
{% else %}
    <div>No hay pagos</div>
{% endif %}

{% endblock %}