{% extends "base.html" %}
{% block content %}

<h2>Pagos</h2>
<div style="
     margin-bottom:12px;
    border-radius:10px;
    padding:10px;
    text-align:center;
    font-size:15px;
    font-weight:bold;
">

    {% if fecha_actual %}
        👥 Pagadores Fecha {{fecha_actual}}:
    {% else %}
        👥 Total pagadores:
    {% endif %}

    <span style="color:#22c55e;">
        {{ pagos|length }}
    </span>

</div>
<form method="get" style="margin-bottom:15px; text-align:center;">
    <select name="fecha" onchange="this.form.submit()" style="
        padding:8px;
        border-radius:6px;
        border:none;
    ">
        <option value="">Todas las fechas</option>

        {% for f in fechas %}
            <option value="{{f}}" {% if fecha_actual and f|string == fecha_actual %}selected{% endif %}>
                Fecha {{f}}
            </option>
        {% endfor %}
    </select>
</form>

{% if pagos %}

<div class="payments-container">
    {% for p in pagos %}
        <div class="payment-card">

            <!-- usuario -->
            <div class="payment-user">
                {{ p[0] }}
            </div>

            <!-- fecha -->
            <div class="payment-fecha">
                Fecha {{ p[1] }}
            </div>

            <!-- estado -->
            <div class="payment-status status-{{ p[2] }}">
                {% if p[2] == 'approved' %}
                    ✅ Aprobado
                {% else %}
                    {{ p[2] }}
                {% endif %}
            </div>

            <!-- teléfono -->
            <div style="font-size:12px; color:#aaa; margin-top:6px;">
                📱 {{ p[3] or '-' }}
            </div>

            <!-- email -->
            <div style="font-size:12px; color:#aaa;">
                ✉️ {{ p[4] or '-' }}
            </div>

        </div>
    {% endfor %}
</div>

{% else %}
<div style="text-align:center; margin-top:20px;">
    No hay pagos
</div>
{% endif %}

{% endblock %}