{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center; margin-bottom:20px;">
📚 Histórico por fecha
</h2>

{% for h in history %}

<div style="
    background:#6c3bb8;
    padding:15px;
    border-radius:10px;
    margin-bottom:14px;
">

    <div style="
        font-size:22px;
        font-weight:bold;
        margin-bottom:12px;
    ">
        📅 Fecha {{h.fecha}}
    </div>

    {% for pos, user, pts in h.tabla %}

    <div style="
        display:flex;
        justify-content:space-between;
        margin-bottom:6px;
        font-size:17px;
    ">

        <div>
            {% if pos == 1 %}
                🥇
            {% elif pos == 2 %}
                🥈
            {% elif pos == 3 %}
                🥉
            {% else %}
                {{pos}}°
            {% endif %}

            {{user}}
        </div>

        <div>
            <b>{{pts}}</b> pts
        </div>

    </div>

    {% endfor %}

</div>

{% endfor %}

{% endblock %}