{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center; margin-bottom:20px;">
📚 Histórico por fecha
</h2>

{% for h in history %}

<div style="
    background:#6c3bb8;
    border-radius:12px;
    margin-bottom:14px;
    overflow:hidden;
">

    <!-- header -->
    <div onclick="toggleFecha('fecha{{h.fecha}}')"
         style="
            padding:16px;
            cursor:pointer;
            display:flex;
            justify-content:space-between;
            align-items:center;
            font-size:22px;
            font-weight:bold;
         ">

        <div>
            Fecha {{h.fecha}}
        </div>

        <div id="iconfecha{{h.fecha}}">
            ➕
        </div>

    </div>

    <!-- contenido -->
    <div id="fecha{{h.fecha}}" style="
        display:none;
        padding:0 16px 16px 16px;
    ">

        {% for pos, user, pts in h.tabla %}

 <div style="
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:10px;
    margin-bottom:8px;
    font-size:17px;
">

    <div title="{{user}}" style="
        flex:1;
        min-width:0;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    ">
        {% if pos == 1 %}
            🥇
        {% elif pos == 2 %}
            🥈
        {% elif pos == 3 %}
            🥉
        {% else %}
            {{pos}}°
        {% endif %}

        {{user}}
    </div>

    <div style="
        flex-shrink:0;
    ">
        <b>{{pts}}</b> pts
    </div>

</div>

        {% endfor %}

    </div>

</div>

{% endfor %}

<script>
function toggleFecha(id) {

    const div = document.getElementById(id);
    const icon = document.getElementById("icon" + id);

    if (div.style.display === "none") {
        div.style.display = "block";
        icon.innerHTML = "➖";
    } else {
        div.style.display = "none";
        icon.innerHTML = "➕";
    }
}
</script>

{% endblock %}